<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Activity 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">App Dev Activity</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>My First Activity</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  <!-- Expand -->
<ion-button expand="full">Full Button</ion-button>
<ion-button expand="block">Block Button</ion-button>

C:\Users\jacob\Activity\Act>ionic generate page nPage 
> ng.cmd genrate page nPage --project=app 
would you like to share anonymous usage data about this project with the angular team at Google under Google's Privacy policy at https://policies.com/privacy. For more detaails and how to change this setting, see https://angular.io/analytics. No 
Global setting: not set 
Local setting: disabled
Effective status: disabled 
The 'path' option in 'C:\Users\jacob\Ativity'